<!-- <h1>Basic of React Forms</h1>
<form action="" method="post">
    <input type="text" placeholder="enter Name" [formControl]="name">
    <br>
    <br>
    <input type="text" placeholder="enter password" [formControl]="password">
    <br><br>
    <button type="button" (click)="displayValue()">Login</button>
    <button type="button" (click)="setValue()">Set some value</button>
     <h3>{{name.value}}</h3>
    <h3>{{password.value}}</h3> -->
<!-- </form> -->

<h1>Form Grouping in Reactive Forms: With Validation</h1>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="enter name" formControlName="name">
    <span *ngIf="name?.hasError('required')" style="color: red;">*</span>
    <span *ngIf="name?.invalid && (name?.dirty || name?.touched)" style="color: red;"> Provide a valid Name</span>
    <br><br>
    <input type="password" placeholder="enter password" formControlName="password">
    <span *ngIf="password?.hasError('required')" style="color: red;">*</span>
    <span *ngIf="password?.invalid && (password?.dirty || password?.touched)" style="color: red;"> Provide a valid
        password</span>
    <br><br>
    <input type="email" placeholder="enter email" formControlName="email">
    <span *ngIf="email?.hasError('required')" style="color: red;">*</span>
    <span *ngIf="email?.invalid && (email?.dirty || email?.touched)" style="color: red;"> Provide a valid email</span>
    <br><br>
    <button>Submit</button>
    <!-- <button (click)="setValue()">setValue</button> -->
</form>