<!-- <app-header/>
<router-outlet /> -->

<!-- <h2>Pass data child to parrent</h2> -->


<!-- //Static data passing...
<app-parrent-child user="Milky way"></app-parrent-child> -->
<!-- 
<app-parrent-child [user]="selectedUser.value" city="Gurugram"></app-parrent-child>


<select #selectedUser (change)="onUserChange(selectedUser.value)">
    <option value="Milky Way">Milky Way</option>
    <option value="Sam ">Sam</option>
    <option value="Peter">Peter</option>
    <option value="Tony">Tony</option>
</select> -->

<!-- <h1>Reuse Components</h1> -->

<!-- @for (user of users; track $index) {
    <div>
        <app-reuse-user [user] = "user"></app-reuse-user>
    </div>
} -->

<h1>&#64; Output + EventListener</h1>

<app-child (getUsers)="handleUsers($event)"></app-child>

@for (user of users; track $index) {
    <div>{{user}}</div>
}